@import 'chat.css';
@import 'login.css';
@import 'sidebar.css';
@import 'online.css';
@import 'nav.css';
@import 'chatbox.css';
@import 'profile.css';
@import 'extra.css';

body {
    font-family: 'Vollkorn', serif;
}

.ui-notification{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}