.user {
    cursor: pointer;
    transition: background-color 1s;
}

.user:hover {
    background-color: #fffffe;
}

.user .user-image {
    margin: 0 auto;
}

.user .user-name {
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}

.user-container {
    margin-top: 40px;
}

@media (max-width: 600px) {
    .user-container {
        width: 100%;
    }

    .user {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .user .user-image {
        flex-basis: 30%;
    }

    .user .user-name {
        margin-top: 0;
        flex-grow: 1;
        flex-basis: 60%;
        text-align: left;
    }
}