<div class="modal-content">
    <form id="addReview" name="addReview" role="form" class="form-horizontal">
        <div class="modal-header">
            <button type="button" ng-click="$ctrl.onClose()" class="close"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 id="myModalLabel" class="modal-title">Upload your profile image</h4>
        </div>
        <div class="modal-body">
            <input id="input-id" type="file" class="file" data-preview-file-type="image">
        </div>
        <div class="modal-footer">
            <button ng-click="$ctrl.onClose()" type="button" class="btn btn-default">
                Cancel
            </button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>